<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mkei.backcast">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
        android:name=".GlobalApplication">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:exported="false"/>

        <activity android:name=".AiConfigActivity"
            android:label="@string/settings_ai_title"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name=".UserPreferencesActivity"
            android:label="@string/settings_preferences_title"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name=".ToolConfigActivity"
            android:label="@string/settings_tools_title"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name=".SubAgentsActivity"
            android:label="@string/agent_panel_title"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <service
            android:name=".AgentService"
            android:exported="false"
            android:stopWithTask="false"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

        <activity android:name=".GlobalApplication$CrashActivity"/>

    </application>

</manifest>
